**TASK - 1 PREDICTION USING SUPERVISED ML**

**RITHIK ALIAS**

In [ ]:
# Importing all libraries required in this notebook
import pandas as pd
import numpy as np  
import matplotlib.pyplot as plt  
from sklearn.model_selection import train_test_split  
from sklearn.linear_model import LinearRegression

In [ ]:
# Reading data
url = "https://raw.githubusercontent.com/AdiPersonalWorks/Random/master/student_scores%20-%20student_scores.csv"
data = pd.read_csv(url)
data

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

In [ ]:
hours = data.iloc[:, :-1].values  
scores = data.iloc[:, 1].values  
print(hours,scores)

[[2.5]
 [5.1]
 [3.2]
 [8.5]
 [3.5]
 [1.5]
 [9.2]
 [5.5]
 [8.3]
 [2.7]
 [7.7]
 [5.9]
 [4.5]
 [3.3]
 [1.1]
 [8.9]
 [2.5]
 [1.9]
 [6.1]
 [7.4]
 [2.7]
 [4.8]
 [3.8]
 [6.9]
 [7.8]] [21 47 27 75 30 20 88 60 81 25 85 62 41 42 17 95 30 24 67 69 30 54 35 76
 86]

In [ ]:
hours_train, hours_test, scores_train, scores_test = train_test_split(hours, scores, 
                            test_size=0.1, random_state=0) 
model = LinearRegression()  
model.fit(hours_train, scores_train) 
#training complete

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
scores_pred = model.predict(hours_test) # Predicting the scores
df = pd.DataFrame({'Actual': scores_test, 'Predicted': scores_pred})  
print("Predicted and actual scores of the test data")
print(df)

Predicted and actual scores of the test data
   Actual  Predicted
0      20  17.302210
1      27  34.055294
2      69  75.445267

In [ ]:
hours = [[9.25]]
pred_score = model.predict(hours)
print(f"No of Hours = {hours[0][0]}")
print(f"Predicted Score = {pred_score[0]}")

No of Hours = 9.25
Predicted Score = 93.67656425238496